<h3>Create Student</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="studentsaveform" #savestudent (ngSubmit)="saveStudent(saveStudent)">
          <div class="form-group">
              <label for="name">Trainer Name</label>
              <input type="text" class="form-control"  formControlName="userName" data-toggle="tooltip" 
                 data-placement="right" title="Enter Student Name" >
              <div class="alert alert-danger" *ngIf = "(userName.touched) && (userName.invalid)" 
                style="margin-top: 5px;">
                  <span *ngIf="userName.errors.required">Student Name is Required</span>
                    <span *ngIf = "userName.errors.minlength"> 
                        MinLength Error 
                    </span>                   
                </div>
          </div>
  
          <div class="form-group">
              <label for="name">Trainer password</label>
              <input type="text" class="form-control" formControlName="password" 
                data-toggle="tooltip" data-placement="right" title="Enter Student Email">
                <div class="alert alert-danger" *ngIf = "(password.touched) && (password.invalid)" 
                style="margin-top: 5px;">
                  <span *ngIf="password.errors.required">Student Email is Required</span>
                    <span *ngIf = "password.errors.email"> 
                        Invalid Email Format 
                    </span>                   
                </div>
          </div>
  
          <!-- <div class="form-group">
              <label for="branch">Trainer Course</label>
                <select class="form-control" formControlName="student_branch" data-toggle="tooltip" 
                      data-placement="right" title="Trainer course">
                    <option value="null">--Select Branch--</option>
                  <option value="Java">Java</option>
                  <option value="python">python</option>
                  <option value="C">C</option>
                  <option value="GO">GO</option>
                </select>
          </div> -->
  
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Trainer Added SuccessFully!</h4>
         <button (click)="addStudentForm()" class='btn btn-primary'>Add More Trainer</button>
      </div>      
  </div>
  <div class="col-sm-4"></div>
</div>


